{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

    <div class = "card homething">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'rentals:index' %}">Rental Management<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'rentals:vendor' %}">Vendors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'rentals:invoice' %}">Invoices</a>
              </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                      Add Records
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'rentals:new_rental' %}">Add Rental</a>
                      <a class="dropdown-item" href="{% url 'rentals:new_vendor' %}">Add Vendor</a>
                      <a class="dropdown-item" href="{% url 'rentals:new_invoice' %}">Add Invoice</a>
                    </div>
                </li>
            </ul>
          </div>
    </nav>
        <div class = "card-body formbod">
            <p class = "card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <h1>Rentals:</h1>
            {% for rental in rentals %}
            <div class = "card listcard">
                <div class = "row">
                    <div class = 'col-md-10'>
                        <div class = 'container listcont'>
                            <p class = 'listthing'>Job ID: {{rental.pk}}</p>
                            <p class = 'listthing'>Equipment needed from: {{rental.Equipment_Needed_from}}</p>
                            <p class = 'listthing'>Equipment needed until: {{rental.Equipment_Needed_Until}}</p>
                            <p class = 'listthing'>PO Number: {{rental.PO_Num}}</p>
                        </div>
                    </div>
                    <div class = 'col-md-2'>
                        <div class = "container">
                            <form class = 'flex-container' method = "post">
                                {% csrf_token %}
                                <div class = "input-group">
                                    <input type = "hidden" name = "pk">
                                    <button name = "delete" type = "submit" class = 'btn btn-danger pushdown'>Delete</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>


{% else %}
<div class = "jumbotron loginthing">
    <h6 class = "display-4 jumtext">Mosites Rental Management</h6>
    <div class = "buttons d-flex justify-content-center">
        <a class = "btn btn-info btn-lg loginbut" href="{% url 'login' %}">Login</a>
        <a class = "btn btn-warning btn-lg loginbut" href="{% url 'accounts:signup' %}">Create Account</a>
    </div>

     <!--what is this syntx-->
</div>

{% endif %}
{% endblock %}
